body{
	background-image:url('../data/images/background.png');
	background-repeat:repeat;
    font-family:fantasy;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box6 {
    background-color: darkslategray;
  -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
}

.box6:before{
    content:'';    
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform:
    rotate(-20deg)
    skew(-40deg,-3deg)
    translate(-13px,-13px);
}

.box6:after{
    content: '';
    z-index: -10;
    width: 100px;
    height: 100px;
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
                        translate(-45px,-20px)
                           skew(20deg);
}

.frame{
    height: 566px;
    width: 566px;
    margin-top: -112px;
    margin-left: -100px;
    background-size: 100% 100%;
}

.ui-menu-item{
    font-family:monospace;
}

.form-signin{
	width: 500px;
	margin: auto;
	margin-top: 60px;
}

.form-signin-heading{
    color: white;
    text-align: center;
}

#inputName, #nameSubmit{
	margin-top: 20px;
}

.abc{
	color: #3e6d8e;
    font-size: 15px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 12px 7px 0px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    -ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
}

.didYouMean{
	margin: auto;
    margin-top: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: bold;
}

#warningContainer{
    width: 520px;
    margin: auto;
    border: 5px dotted;
    padding: 13px;
    margin-top: 36px;
    border-radius: 14px;
    border-color: darkslategray;
}

#dragDropContainer{
    height:450px;
    width:450px;
    margin: auto;
    margin-top: 100px;
    background-image: url('..data/images/frame.png');
    background-size: 100% 100%;
    padding: 57px 45px;
    position: relative;
}

.tiles{
    background-size:450px 450px;
    height:187px;
    width:187px;
    position: absolute;
}
#draggableContainer, #dragDropResult{
    position: absolute; 
    background-image: -webkit-linear-gradient(left, rgb(96, 108, 136), rgb(63, 76, 107));
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dragDropResult{
    background-image: -webkit-linear-gradient(left, rgb(100, 145, 115), rgb(219, 213, 164));
}

#draggableResultContainer, #referenceTiles{
    position: absolute;
    left: 0px;
    top: 0px;
}

#dragDropContainer{
        opacity: 1;
    background-image: -webkit-linear-gradient(left, rgb(167, 55, 55), rgb(122, 40, 40));
    background-color: rgb(255, 255, 255);
}

.positionRelative{
    position: relative;
    cursor: pointer;
    margin-bottom:5px;
}

.abc:hover{
    background-color: black;
}

#warningContainer{
    font-family:cursive;
}

#imageShow{
    height: 450px;
    width: 450px;
    z-index: 30;
    position: absolute;
    display: none
}

#leftNav, #rightNav{
    position: absolute;
    height:100%;
    background-color:aquamarine;
    opacity: 0.2;
    width: 40px;
    z-index: 3;
    color: aliceblue;
    padding-left: 10px;
    font-size:40px;
    font-family:-webkit-pictograph;
    cursor:pointer;
    display: table;
}


#leftNav:hover,
#rightNav:hover{
    opacity: 0.4;
}

#leftNav{
    left: 0px;
}
#rightNav{
    right:0px;
}
.imgShow_imgs{
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}

#warning{
    color: darkgray;
    font-weight: bold;
    margin: 15px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid black;
}

#intro{
    position:absolute;
    height:100%;
    width:100%;
}

#backCurtain, #curtain{
    position:absolute;
    height:100%;
    width:100%;
    background-size:100% 100%;
}

#rope{
    height: 320px;
    width: 118px;
    position: absolute;
    cursor: pointer;
}

#stupidPhoto{
        z-index: 10;
    height: 350px;
    width: 615px;
    margin: auto;
    margin-top: 158px;
}

#preloader{
    height:100%;
    width:100%;
    display: table;
    position: absolute;
}

#preloader img{
    margin: auto;
    display: table-cell;
}

#header{
    position: absolute;
    height: 50px;
    width: 100%;
    color: darkseagreen;
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    text-align: center;
    background-color: #f1f1f1;
    -webkit-box-shadow: 10px 10px 72px 0px rgba(0,0,0,0.75);
    z-index: 100;
}

#dragDrop, #album{
    display:table;
}

#album_table{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    display: table;
}

#table_cell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: inherit;
}

#backscreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

#imgMain{
    border: 7px solid white;
    margin:auto;
    position:relative;
    display:table-cell;
}

.clickMe{
    display: inline;
    width: 94px;
    margin: 0;
    padding: 0px;
    margin-left: 2px;
    margin-right: 6px;
}

.walterNoBorder{
    border: none !important;
}

#curtain_right, #curtain_left{
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 100% 0px;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    pointer-events:none;
}

#curtain_left{
    -webkit-transform: scale(-1, 1);
}

#collage{
    position: absolute;
    left: 15%;
    width: 70%;
    top: 10%;
    height: 80%;
}

.tileShow{
    width: 33%;
    height:33%;
    position:absolute;
    background-size: auto 100%;
    background-position: 50% 50%;
    border: 10px solid transparent;
    background-repeat: no-repeat;
}

#intro_text_container{
    position: absolute;
    height: 100%;
    width: 100%;z-index:10;
    display:table;
}

#introBlackScreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

#introCell{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

#introTextDiv{
    margin: auto;
    position: relative;
    color: white;
    max-width: 500px;
    text-align: center;
}

#introText{
    width: 0px;
    overflow: hidden;
    text-overflow: clip;
    font-size: 30px;
    background-color: black;
}

#ring{
    width: 100px;
    margin: auto;
    display: block;
    background-image: url('../data/images/ring.png');
    height: 100px;
    background-size: 90%;
    cursor: pointer;
    background-position: 50% 50%;
    display: none;
}
#ring:hover{
    background-size: 100%;
}

#mainInvitation{
    position:absolute;
    display: table;
    height:100%;
    width:100%;
    background-color: black;
    border: 18px solid white;
}

#player{
    display: table-cell;
    margin: auto;
}

#lastFrame{
    margin: auto;
    height:60%;
    width: 60%;
    background-size: 100% auto;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#speechBubble{
    background-image: url('../data/images/speech.png');
    height: 300px;
    width: 387px;
    background-size: 100% 100%;
    left: 512px;
    position: absolute;
    padding: 71px 25px 91px 65px;
    color: white;
    font-size: 30px;
    text-align: center;
}

#police{
    background-image: url('../data/images/police.png');
    height: 512px;
    width: 512px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#assortedWords{
    background-image: url('../data/images/words.png');
    height: 356px;
    width: 500px;
    background-size: 100% auto;
    margin: auto;
}