
table {
	margin: auto;
}

table tr td {
	border: 3px solid;
	max-width: 550px;
	min-width: 30px;
	text-align: center;
}

.arrow:before {
	content: "\2192";
	font-size: 20px;
}

.station-name:after {
	content: "\00a0";
}

.target:before {
	content: "\25CE";
}

.target-station {
	display: inline-block;
	text-wrap: nowrap;
}

.no-connections:before, .no-connections:after {
	content: "\00d7";
}

.time-remaining {
	font: small-caption;
	color: floralwhite;
	font-weight: bold;
}

h1 {
    text-align: center;
    background-color: mediumvioletred;
    border-radius: 9px;
    color: ivory;
    font-family: monospace;
}

h2 {
	text-align: center;
    background-color: black;
    border-radius: 3px;
    color: ivory;
    font-size: 20px;
    padding: 8px;
    opacity: 0.6;
}

h3 {
	text-align: center;
}

button {
    background-color: black;
    color: ivory;
    padding: 10px;
    border-radius: 11px;
    cursor: pointer;
}

.button-selected {
	background-color: ghostwhite;
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), inset 5px 5px 8px rgba(0,0,0,0.5);
}

.button-container {
	text-align: center;
}

.row {
	width: 100%;
}

.cell {
    border: 3px solid;
    text-align: center;
    min-height: 20px;
    padding: 2px;
}

.division {
	height: 55px;
}

.division-small {
	height: 25px;
}

.station-of-interest {
	background-color: darkcyan;
}

.schedule-tabs {
	bottom: 0px;
    position: fixed;
    width: 100%;
}

.schedule-button, .add-schedule {
    background-color: mediumvioletred;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    color: ivory;
    float: right;
    margin-right: 10px;
}

.schedule-selected {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), inset 5px 5px 8px rgba(0,0,0,0.5);
}

#routes {
	padding-bottom: 50px;
}

.schedules {
	float: right;
}

#schedule-editor-container {
	display: none;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
}

#schedule-editor-container button {
	background-color: ivory;
    color: black;
}

.schedule-editor {
	background-color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

#editor-schedules, #all-cached-stops {
    height: 300px;
    background-color: white;
    margin: 15px;
    overflow: scroll;
}